@{
    ViewData["Title"] = "Delete person";
}

<h2>@ViewBag.Title</h2>

<partial name="~/Views/Person/Shared/_DeletePartial.cshtml" model="@ViewBag.Message" />

<p><a asp-controller="Person" asp-action="Index">Back to index</a></p>
