@model EditCityViewModel

@{
    ViewData["Title"] = "Edit City";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <p><strong>@ViewBag.Message</strong></p>
}

@if ((User.IsInRole("Admin")) || (User.IsInRole("Moderator")))
{
    if (@Model == null)
    {
        <p><strong>City not found!</strong></p>
    }
    else
    {
        <form asp-controller="City" asp-action="Edit" method="post">

            <div asp-validation-summary="ModelOnly"></div>

            <label asp-for="CityId" hidden="true"></label>
            <input asp-for="CityId" hidden="true" />

            <label asp-for="Name" class="left"></label>
            <input asp-for="Name" />
            <label class="left"></label>
            <span asp-validation-for="Name" class="validation"></span>

            <label asp-for="CountryId" class="left"></label>
            <select asp-for="CountryId" asp-items="@ViewBag.CountryList"></select>
            <label class="left"></label>
            <span asp-validation-for="CountryId" class="validation"></span>

            <label class="left">&nbsp;</label>
            <input type="submit" value="Edit city" class="create" />

        </form>
    }
}

<p><a asp-controller="Person" asp-action="Index">Back to index</a></p>
