@{
    ViewData["Title"] = "Guessing Game";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <p><strong>@ViewBag.Message</strong></p>
}

@if (ViewBag.GuessedNumber == null)
{
    ViewData["GuessedNumber"] = 1;
}

@if (ViewBag.Guesses == null)
{
    ViewData["Guesses"] = 0;
}

<form asp-controller="GuessingGame" asp-action="Index" method="post">

    <label>Guess a number (1-100):</label>
    <input type="number" name="guessedNumber" value="@ViewBag.GuessedNumber" />

    <label>Guesses: @ViewBag.Guesses</label>
    <input type="submit" class="guess" value="Guess" />

</form>
